@font-face {
  font-family: "Quicksand";
  src:
    url("./Quicksand-VariableFont_wght.woff2") format("woff2"),
    url("./Quicksand-VariableFont_wght.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > *,
main > * {
  /* For development purposes only */
  /* border: 1px solid red; */
}

/* General styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

body > * {
  width: 100%;
  max-width: 1600px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
footer {
  flex: 0;
  height: 72px;
}

main {
  flex: 1;
}

section {
  flex: 1;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

svg {
  display: block;
  fill: #000;
  height: 28px;
}

p {
  max-width: 70ch;
}

/* HEADER */

header p {
  margin: 8px 0 16px;
}

header div {
  position: relative;
  margin-bottom: 18px;
  h1 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
  }
}

/* MAIN */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 112px;
  h2 {
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: normal;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 450px;
  max-width: 300px;
  box-shadow: 4px 4px 5px #d3d3d3;

  .screenshot {
    height: 275px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 3rem;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav ul {
    gap: 8px;

    svg {
      height: 20px;
    }
  }

  p {
    margin: 0 24px;
  }
}

.project:nth-child(1) .screenshot {
  background-color: rebeccapurple;
}

.project:nth-child(2) .screenshot {
  background-color: orange;
}

.project:nth-child(3) .screenshot {
  background-color: #008000;
}

.project:nth-child(4) .screenshot {
  background-color: #d64da2;
}

.project:nth-child(5) .screenshot {
  background-color: #2da0ff;
}

.project:nth-child(6) .screenshot {
  background-color: #016101;
}

/* FOOTER */
footer {
  padding: 0;
  background-color: rgb(23, 161, 224);
  color: #fff;
  .info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      align-self: center;
      margin-bottom: -12px;
      font-size: 3rem;
      font-weight: normal;
    }

    p {
      font-size: 1.3rem;
    }

    .email {
      margin-top: -16px;
    }

    nav {
      align-self: center;

      ul {
        gap: 36px;
      }

      svg {
        height: 56px;
      }
    }
  }

  .info > p:first-of-type {
    font-size: 1.5rem;
  }

  .picture {
    margin-top: 56px;
  }
}
