@font-face {
  font-family: "Quicksand";
  src:
    url("./Quicksand-VariableFont_wght.woff2") format("woff2"),
    url("./Quicksand-VariableFont_wght.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

body > * {
  width: 100%;
  max-width: 1600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
footer {
  flex: 0;
  height: 72px;
}

main {
  flex: 1;
}

section {
  flex: 1;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

svg {
  display: block;
  fill: #000;
  height: 36px;
  cursor: pointer;
}

p {
  max-width: 70ch;
}

h2 {
  font-size: 2.3rem;
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

/* HEADER */
header {
  position: relative;
  div {
    position: relative;
    z-index: 1;
  }
}

.img-wrapper img {
  max-width: 350px;
}
.header-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 50%);
  background-color: #2da0ff;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

header p {
  margin: 8px 0 16px;
  font-size: 1.2rem;
}

header div {
  position: relative;
  margin-bottom: 18px;
  h1 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-size: 3rem;
  }
}

/* MAIN */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 112px;
  h2 {
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: normal;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 450px;
  max-width: 300px;
  box-shadow: 4px 4px 5px #d3d3d3;

  .screenshot {
    height: 275px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 3rem;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav ul {
    gap: 8px;

    svg {
      height: 28px;
    }
  }

  p {
    margin: 0 24px;
  }
}

.project:nth-child(1) .screenshot {
  background-color: rebeccapurple;
}

.project:nth-child(2) .screenshot {
  background-color: orange;
}

.project:nth-child(3) .screenshot {
  background-color: #008000;
}

.project:nth-child(4) .screenshot {
  background-color: #d64da2;
}

.project:nth-child(5) .screenshot {
  background-color: #2da0ff;
}

.project:nth-child(6) .screenshot {
  background-color: #016101;
}

/* FOOTER */
footer {
  background-color: rgb(23, 161, 224);
  color: #fff;
  .info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      align-self: center;
      margin-bottom: -12px;
    }

    p {
      font-size: 1.1rem;
    }

    .email {
      margin-top: -16px;
    }

    nav {
      align-self: center;

      ul {
        gap: 36px;
      }
    }
  }

  .info > p:first-of-type {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .picture {
    margin-top: 56px;
  }

  .icon {
    display: none;
  }
}

@media (min-width: 650px) {
  body > * {
    padding: 0 48px;
  }

  /* HEADER */
  header {
    display: block;
    padding-top: 40px;

    h2 {
      font-size: 2rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    nav {
      display: none;
    }
  }

  .img-wrapper {
    float: left;
    margin-right: 18px;
    margin-bottom: 0;
    margin: -18px 18px 0 -18px;
    z-index: 10;
    img {
      max-width: 350px;
    }
  }

  .about-me {
    display: block;
    padding: 24px;
    box-shadow: 2px 2px 12px #666;
  }

  /* MAIN */
  main h2 {
    align-self: flex-start;
  }

  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .project {
    margin-bottom: 32px;
  }

  /* FOOTER */
  footer {
    flex-direction: row;
    align-items: flex-start;

    .info {
      gap: 20px;

      p:first-of-type {
        font-size: 1rem;
      }
    }

    .info h2,
    .info nav {
      align-self: flex-start;
    }

    .info nav ul {
      gap: 24px;
    }

    .info nav svg {
      height: 24px;
    }

    .picture {
      margin: 15px 0;
    }

    .icon {
      display: block;
    }

    .phone-number,
    .email {
      display: flex;
      align-items: center;
      gap: 12px;

      svg {
        fill: #fff;
      }
    }
  }
}

@media (min-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
  }

  .header-bg {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  }
}
